body{

background-color:dimgrey
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
    width: 300px;
    margin: 60px;
}

label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input{
    border-radius: 20px;
    background-color: darkgray;
}

select{
    border-radius: 20px;
    background-color: darkgray;
}

button{
    margin: 20px;
    width: 12rem;
    position: relative;
    height: 4rem;
    border: 3px solid indigo;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: darkviolet;
    color: black;
    transition: 2s;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button:hover{
    box-shadow: inset 0px 0px 25px indigo;
}


